<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <meta charset="utf-8">
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js'></script>
    <script type='text/javascript'>
       var myApp = angular.module('app', []);
       myApp.controller('foodsController',['$scope', function($scope) {
         $scope.foods = ["Pizza","BBQ","Fries","Salad","Steak"];
         $scope.addFood = function() {
           $scope.foods.push($scope.food);
           $scope.food="";
         }
       }]);
       myApp.controller('animalsController',['$scope', function($scope) {
         $scope.animals = [{name:"Cat",legs:4},{name:"Dog",legs:4},{name:"Snake",legs:0}];
         $scope.addAnimal= function() {
           $scope.animals.push($scope.animal);
           $scope.animal={};
         }
       }]);
    </script>
    <title>Controllers and dierctives</title>
  </head>
  <body>
    <div ng-controller="foodsController">
    <form method="post" ng-submit="addFood()">
      <label>Favorite Food</label>
      <input type="text" name="" placeholder="Write your food" ng-model='food'>
      <input  type='submit' value="Add Food">
    </form>
    <span style="width:200px;">Currently typing: {{model}}</span>
    <input type="text" name="" value="filter.." ng-model='searchText'>
    <ul style="margin-left:220px;">
    <li ng-repeat='food in foods track by $index | filter:searchText'>{{food}}</li>
  </ul>
      </div>
      <div ng-controller="animalsController">
        <form ng-submit="addAnimal()" name="animal_form" novalidate>
          <label>Animals name: </label>
          <p ng-show="animal_form.animal_name.$invalid && !animal_form.animal_name.$pristine">Name is required</p>
          <input type="text" name="animal_name" ng-model="animal.name" ng-required="true" ng-minlength="2"><br>
          <label>Number of legs: </label>
          <input type="number" ng-min='2' ng-max='4' ng-value="2" name="animal_legs" ng-model="animal.legs" required><br>

          <p ng-show="animal_form.animal_legs.$invalid && !animal_form.animal_legs.$pristine">Invalid input</p>
          <input type="submit" name="" value="Add animal" ng-disabled="animal_form.$invalid">
        </form>
        <table>
          <thead>
            <td>Name</td>
            <td>Legs</td>
          </thead>
          <tbody>
            <tr ng-repeat="animal in animals">
              <td>{{animal.name}}</td>
              <td ng-if="animal.legs">{{animal.legs}}</td>
              <td ng-if="!animal.legs">This animal has no legs!</td>
            </tr>
          </tbody>
        </table>
      </div>
  </body>
</html>
